/* Responsive Design */
@media (max-width: 992px) {
    html {
        font-size: 55%;
    }
    
    .home-content {
        gap: 5rem;
    }
    
    .home-text h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 4rem;
    }

    .achievement-content {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 3rem;
    }
    
    .box-content {
        padding: 2rem;
    }
    
    .title-name {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    
    nav {
        position: fixed;
        top: 8rem;
        right: -100%;
        width: 80%;
        height: calc(100vh - 8rem);
        background-color: white;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        transition: 0.5s ease;
        box-shadow: -5px 0 20px rgba(0, 0, 0, 0.1);
    }
    
    nav.active {
        right: 0;
    }
    
    nav a {
        font-size: 2.2rem;
        margin: 1rem 0;
    }
    
    .section {
        padding: 8rem 5% 3rem;
    }
    
    .home-content {
        flex-direction: column;
        text-align: center;
    }
    
    .home-img {
        scale: 0.8;
    }
    
    .home-text h1 {
        font-size: 3.5rem;
    }
    
    .typing-text {
        font-size: 2.5rem;
    }
    .social-icons
    {
        justify-content: center;
    }
    .social-icons a
    {
        align-items: center;
    }
    .contact-info {
        justify-content: center;
    }

    .achievement-content {
        grid-template-columns: 1fr;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .achievement-header {
        margin-bottom: 3rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 50%;
    }
    
    header {
        padding: 1.5rem 5%;
    }
    
    .home-img {
       scale: 0.4;
    }
    
    h2 {
        font-size: 3.5rem;
    }
    
    .social-icons a {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 2rem;
        
    }
    
    .btn {
        padding: 1.2rem 2.5rem;
        font-size: 1.6rem;
    }
    .box {
        border-radius: 15px;
    }
    
    .box-content {
        padding: 1.8rem;
    }
    
    .title-name {
        font-size: 1.8rem;
        padding-left: 1rem;
    }
    
    .title-name::before {
        width: 3px;
        height: 1.8rem;
    }
}